@import url('../../assets/fawesome-all.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    
}

header {
    position: relative;
    background-color: slateblue;
    height: 30%;
    width: 100%;
}

header .imgFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

header .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    height: 3em;
    width: 80%;
    margin: 0 10%;
    bottom: -1.5em;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buscador i {
    background-color: #03D99D;
    color: white;
    height: 100%;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBuscador  {
    flex: 0 0 3em;
    height: 100%;
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
}

.inputBuscar {
    flex: 1;
    height: 100%;
    border: none;
    padding: 0 1em;
    color: #333;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    outline: none;
}

.imgFondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
    opacity: 0.3;
}

main .categorias {    
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 2em 1em 0 1em;
    display: flex;
    gap: 1em;
    overflow: auto hidden;
    scrollbar-width: none;
    justify-content: space-between;
}

.pd-2 {
    padding: .5em;
}

.btn {
    padding: 0.5em 1em;
    background-color: slateblue;
    color: white;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.categorias .icono {
    height: 100px;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px; */
    flex: 0 0 100px;
    align-content: space-evenly;
    background-color: transparent;
    border-radius: 1em;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 1em;
    color: #333;
    font-weight: 200;
}

h2 {    
    text-align: start;
    margin: 1.5em 1em 0.5em;
    font-size: 1.4em;
    font-weight: bold;
}

main .restoContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
    flex-wrap: wrap;
}

.resto {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    /* flex: 0 0 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3em;
    border-radius: 8px;
    position: relative;    
}

.resto .restoImg {
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 0 0 8px;
}

.infoResto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.5em;
    height: 100%;
    width: 54%;
    font-size: 15px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 45%;
    border-radius: 0 0 0 25px;
}

.restoNombre {
    font-weight: 600;
    color: #333;    
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.restoDescripcion,
.restoHorario {
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
}

.restoCalificacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
    color: #03D99D;
    border-radius: 0 8px 8px 0;
    margin-top: 30px;
}

.calificacion {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #03D99D;
    color: white;
    height: 40px;
    width: 42px;
    text-align: center;
    align-content: center;
    padding: 4px 6px;
    border-radius: 10px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.hidden {
    display: none;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.1);
    border-radius: .5em;
    box-shadow: 0 0 150px 500px rgba(74, 74, 74, 0.701);
    backdrop-filter: blur(20px);
}

.encabezadoAlerta {
    display: flex;
    justify-content: end;

}

.btn-close {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media screen and (orientation: landscape) {
    main .restoContainer {
        flex-direction: row;
    }

    .restoContainer .resto {
        flex: 0 0 calc(50% - 1em);
        /*declaro el ancho si d-flex es ROW*/
        height: 200px;
    }

    main .categorias {

        scrollbar-width: auto;
    }

}


/* 
@media screen and (max-width: 1440px ){
    header{
        background-color: rgb(0, 255, 26);
    }
    
}

@media screen and (max-width: 1280px ){
    header{
        background-color: red;
    }
    
}

@media screen and (max-width: 1024px ){
    header{
        background-color: red;
    }
    
}

@media screen and (max-width: 720px ){
    header{
        background-color: rgb(0, 0, 0);
    }
    
} */