*{
    box-sizing: border-box; /* Hace que el padding no afecte al tamaño de la tarjeta*/
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

img{
    width: 100%; height: 100%;
    object-fit: cover; /* Hace que la imagen ocupe todo el contenedor sin deformarse */
}

.producto{
    width: 250px;
    height: 100px;
    background-color: steelblue;
    padding: 10px; /*separacion interna del contenedor padre*/
}

.fotoProducto{
    width: 80px;
    height: 80px;
    overflow: auto; /* Oculta el contenido que se sale del contenedor*/

}