@import url('../../assets/css/fawesome-all.css');

*{
    box-sizing: border-box; /* Hace que el padding no afecte al tamaño de la tarjeta*/
    margin: 0;
    padding: 0;
    list-style: none; /* Elimina los puntos de la lista*/
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    display: grid;
    place-items: center;
    height: 100vh;
    padding: .5em;
    max-width: 100vw;
}

img{
    width: 100%; height: 100%;
    object-fit: cover; /* Hace que la imagen ocupe todo el contenedor sin deformarse */
    background-color: white;
}

.producto{
    width: 100%;
    height: 130;
    background-color: steelblue;
    padding: 10px; /* Separacion interna del contenedor padre*/
    border-radius: 8px;
    display: flex;
    gap: 10px; /* Espacio entre los elementos de la tarjeta*/
}


/* pares = even */
/* impares = odd */
.producto:nth-child(odd){
    background-color: rgb(0, 255, 0);
    /* background-color: transparent; */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    flex-direction: row-reverse; 
}

.fotoProducto{
    width: 90px; 
    height: 90px; 
    /*flex-grow: 0; /* Hace que la imagen ocupe todo el espacio disponible*/
    /*flex-shrink: 0; /* Hace que la imagen no se reduzca si el contenedor es más pequeño*/
    /*flex-basis: 80px; /* Hace que la imagen ocupe el 80% del contenedor*/
    flex: 0 0 80px;
    border-radius: 6px;
    overflow: hidden; /* Oculta el contenido que se sale del contenedor*/
}

.datoProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio entre los elementos de la tarjeta*/
    text-transform: uppercase;
}

.valoresProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valoracion{
    background-color: goldenrod;
    height: 30px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    line-height: 30px;
    text-align: center;
}

.contenedorProductos{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    width: 100%;
}

/* ------------menu desplegable------------------ */
header{
    display: flex;
    flex-direction: column;    
    width: 100%;    
    padding: 0;
}

.menu{
    width: 100%;
    display: flex;    
    justify-content: space-between;
    background-color: steelblue;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5em;
}

.buscadorCarrito{
    display: flex;
    gap: 0.5em;
}

.buscador input{
    display: none;
}

header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25em;
    color: black;
}

header button:hover{
    color: rgb(55, 156, 55);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.categoriasLista{
    display: flex;
    gap: 1em;
    width: 100%;
    overflow: auto;
}

.categoriasLista li{
    font-size: 1.5em;
    cursor: pointer;
    flex: 0 0 150px;
    text-align: center;
}

a{
    text-decoration: none;
}